@import "meyer-reset.css";
/* SET UP sitewide */

html {
  --blue: #1f2937;
}

* {
  box-sizing: border-box;
}

/* default is inline */
picture {
  display: block;
}

/* default is inline block */
img {
  display: block;

  /* references to parent container (double-container) */
  width: 100%;
  height: auto;
}

header,
footer,
main {
  border: 3px solid red;
}

section {
  border: 4px solid lime;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

/* STRUCTURE */

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.inner-column {
  display: block;
  border: 4px solid orange;
  padding: 10px;

  /*INNER COLUMN is not as big as whole screen  */

  width: 98%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/* TYPOGRAPHY */

.loud-voice {
  font-size: 32px;
  font-weight: 700;
  line-height: 0.9;
}

.calm-voice {
  font-size: 1rem;
  line-height: 1.3;
}

/* RESPONSIVENESS */

/* COMPONENTS */
.button {
  background-color: blue;
  color: white;
  font-size: 1.2rem;
  padding: 0.6em 1em;
  border-radius: 12px;
}

/* MODULES */

.double-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid blue;
}

.double-container .text p {
  margin-top: 10px;
}

.double-container .text .button {
  margin-top: 10px;
}

/* if width 700px or greater dset the double container to flex */
@media (min-width: 700px) {
  .double-container {
    flex-direction: row;
  }

  .double-container .text {
    flex-basis: 50%;
  }

  .double-container .picture {
    flex-basis: 50%;
  }
}
